// Base
$color-background: #f8f3eb;
$color-surface: #ffffff;

$color-text: #171717;
$color-text-secondary: #756f68;
$color-border: #ddd6ca;

// Main palette
$color-forest: #25533f;
$color-tea-green: #aacc96;
$color-olive: #afab23;

$color-blue: #52a5ce;
$color-lilac: #d3b6d3;
$color-bubblegum: #ff7bac;

$color-butter: #efce7b;
$color-orange: #ef6f3c;

$color-earth: #876029;
$color-grape: #6d1f42;